<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h2{
            color: yellowgreen;
        }
    
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>welcome 2 the page</h1>
   <marquee behavior="" direction=""><h2>harishh</h2></marquee>
    <a href="{% url 'app16:sample2' %}">sample2page</a>
    <a href="{% url 'app17:sample3' %}">sample3page</a>
    </center>
</body>
</html>